{% assign locale = site.data.lang[page.lang] %}

<div class="card" style="width: 100%">
 <div class="row no-gutters">
  <div class="col-sm-4">
   <img class="card-img" src="{{site.baseurl}}/assets/images/setup/galaxylogo.png" alt="Galaxy logo" width="75%">
  </div>
  <div class="col-sm-7">
   <div class="card-body">
    <h5 class="card-title">{{ locale['register'] }}</h5>
    <p class="card-text">
     <br/><strong>{{ locale['create'] }}</strong>
     <ul>
      {% if page.galaxy_servers %}
      {% for s in page.galaxy_servers %}
        <li><a href="{{s.url}}">🌍 {{s.name}}</a></li>
      {% endfor %}
      {% else %}
      <li><a href="https://usegalaxy.eu">🌍 UseGalaxy.eu (Europe)</a></li>
      <li><a href="https://usegalaxy.org.au">🌏 UseGalaxy.org.au (Australia) </a></li>
      <li><a href="https://usegalaxy.org">🌎 UseGalaxy.org (USA)</a></li>
      {{ locale['create-pick'] }}
      {% endif %}
     </ul>

        </p>
   </div>
  </div>
 </div>
</div>

<br/><br/>


{% if page.lang == 'es' or page.lang == 'es-cat' %}
<div class="card" style="width: 100%">
 <div class="row no-gutters">
  <div class="col-sm-4">
   <img class="card-img" src="{{site.baseurl}}/assets/images/setup/languages.jpg" alt="Galaxy logo" width="75%">
  </div>
  <div class="col-sm-7">
   <div class="card-body">
    <h5 class="card-title">Asegúrate de configurar tu Galaxy en español!</h5>
    <p class="card-text">
     <ol>
     <li>User –> </li>
     <li>Preferences →  </li>
     <li>Manage information –> </li>
     <li>Preferred Language –>  </li>
     <li>Español –>  </li>
     <li>Save –>  </li>
     <li>Tools and Current Botón ->  </li>
     <li>Si ves ‘Flujo de trabajo’, ¡has tenido éxito! </li>
     </ol>
    </p>
   </div>
  </div>
 </div>
</div>

<br/><br/>
{% endif %}

{% if page.tiaas_keyword %}
<div class="card" style="width: 100%">
 <div class="row no-gutters">
  <div class="col-sm-4">
   <img class="card-img" src="{{site.baseurl}}/assets/images/setup/tiaas.png" alt="tiaas logo" width="75%">
  </div>
  <div class="col-sm-7">
   <div class="card-body">
    <h5 class="card-title">{{ locale['register-tiaas'] }}</h5>
    <p class="card-text">
     <br/><strong>{{ locale['tiaas-about'] }}</strong>
     {{ locale['tiaas-click'] }}
     <ul>
      {% for server in page.tiaas_servers %}
      <li><a href="https://{{ site.data.tiaas[server]['domain'] }}/join-training/{{ page.tiaas_keyword }}/">{{ site.data.tiaas[server]['text'] }}</a></li>
      {% endfor %}
      {% unless page.tiaas %}
      {% endunless %}
     </ul>
     {{ locale['tiaas-why'] }}
    </p>
   </div>
  </div>
 </div>
</div>

<br/><br/>
{% endif %}





<div class="card" style="width: 100%">
 <div class="row no-gutters">
  <div class="col-sm-4">
   <img class="card-img" src="{{site.baseurl}}/assets/images/setup/slacklogo.png" alt="Slack Logo">
  </div>
  <div class="col-sm-7">
   <div class="card-body">
    <h5 class="card-title">{{ locale['slack-join'] }}</h5>
    <p class="card-text">
     <br/>
     <strong>{{ locale['slack-what'] }}</strong>
     <ul>
      <li><a href="{{site.support.join_link}}">{{ locale['slack-link'] }}</a></li>
      {% if page.slack_event_channel %}
      <li>Chat channel: <a href="{{page.slack_event_link}}">#{{ page.slack_event_channel }}</a></li>
      {% endif %}
     </ul>
     {{ locale['slack-why'] }}
    </p>
   </div>
  </div>
 </div>
</div>
